body {
  background: linear-gradient(
    105.9deg,
    rgb(15, 209, 165) 3.8%,
    rgb(15, 157, 209) 20.8%,
    rgb(133, 13, 230) 51.9%,
    rgb(230, 13, 202) 73.1%,
    rgb(242, 180, 107) 94.1%
  );
}
.container {
  width: 420px;
  color: #334257;
  margin: 5% auto;
  opacity: 0.6;
  background: #daccd4;
  padding: 15px;
  border: 5px solid #548ca8;
  border-radius: 15px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}
h2 {
  margin: 10px;
  float: right;
  font-size: 18px;
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  border: 1px solid #476072;
  border-radius: 30px;
  box-shadow: 2px 2px 1px 3px rgba(167, 159, 225, 0.1);
  font-size: 20px;
}

#location {
  margin: 5px;
  font-size: 18px;
}

button:hover {
  color: #334257;
}

h1 {
  margin: 8px;
  margin-inline-start: 5%;
  font-size: 30px;
  font-weight: 500;
}

h3 {
  color: #548ca8;
  font-size: 26px;
  margin: 5px;
  margin-inline-start: 7%;
  font-weight: bolder;
}
h3::first-letter {
  text-transform: capitalize;
}

.current-temperature {
  display: inline;
  position: relative;
}
.temperature {
  padding: 8px;
  font-size: 68px;
  margin-inline-start: 15px;
}

#feelsLike {
  margin: 8px;
  font-size: 20px;
  margin-inline-start: 6%;
  color: #548ca8;
  font-weight: bolder;
}

button {
  border: 0;
  padding: 0;
  color: #548ca8;
  cursor: pointer;
  background-color: #daccd4;
}
.notclicked {
  opacity: 0.5;
}
#celsius,
#fahrenheit {
  position: relative;
  top: -15px;
  font-size: 24px;
}

lottie-player {
  position: relative;
  top: -60px;
  left: 40px;
}

.animation {
  position: absolute;
}

.characteristics {
  color: #476072;
  padding: 10px;
  margin: 25px;
  margin-inline-start: 60px;
}

.humidity-precentage {
  margin-right: 20%;
}

table {
  margin: 2px auto;
  margin-block-start: -20px;
}
th {
  padding: 1px 7px;
  text-align: center;
  color: #334257;
}
.skyForecast {
  font-size: 44px;
}

.temperatures {
  font-size: 14px;
}

.day {
  font-size: 13px;
}

footer {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-block-start: -40px;
}
